@font-face {
    font-family: "SuperMario85";
    src: url("../../FONT/SuperMario85.ttf");
}


$color1: #5D94FB;
$color2: #2FBC39;
$color3: #FFD817;
$color4: #D0510C;
$color5: #FE0000;
$color6: #FE4D9E;
$color7: #000000;
$color8: #ffffff;

$font-family: "SuperMario85";

$font-small: 15px;
$font-base: 22px;
$font-large: 60px;

