@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "variable";
@import "mixin";

body {
    background-image: url(../../Img/FondDePresentation\ \(4\).png );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
// height: 100vh;
// width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 
.game_infos {
    font-family: "SuperMario85";
    color: $color8;
    font-size: $font-large;
    display: flex;
    justify-content: space-between;
    padding: 35px;
}

.name {}
.temps {}

.entree {
    width: 180px;
    margin-top: 410px;
}

.mario-container {
    position: absolute;
    top: 76%;
    left: 30%;
    // transform: translate(-50%, -50%);
    will-change: transform;
}

.movable-div {
    width: 80px;
    height: 100px;
}

.peach {
    width: 90px;
    height: 120px;
    position: absolute;
    top:74%;
    left: 5%;
}

.meteo {
    width: 100%; 
    height: 100%; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 1s ease-in-out;
  }
  
  .clear {
    background-image: url('Img/FondDePresentation (4).png');
  }
  
  .thunderstorm {
    background-image: url('Img/FondDePresentationOrage.png');
  }
  
  .snow {
    background-image: url('Img/FondDePresentationNeige');
  }
  
  .cloud {
    background-image: url('Img/FondDePresentationOrage.png');
  }
  
.monstre {
    width: 70px;
    height: 60px;
    position: absolute;
    top:80%;
    left: 72%;
    animation: monstreAnimation 5s linear infinite;
}

@keyframes monstreAnimation {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(180px); 

        100% {
            transform: translateX(0);
        }
    }}

.cube {
    width: 3.9%;
    position: absolute;
    bottom: 190px; 
    left: 1150px;
}

.nuage { 
    width: 150px;
    height: 100px;
    position: absolute;
    animation: nuageAnimation 80s linear infinite;
}

@keyframes nuageAnimation {
    0% {
        transform: translate(1000px, 50px);
    }
    25% {
        transform: translate(500px, 300px);
    }
    50% {
        transform: translate(1000px, 50px);
    }
    25% {
        transform: translate(500px, 300px);
    }
    0% {
        transform: translate(1000px, 50px);
    }
}

.facing-left {
    transform: scaleX(-1);
}

.facing-right {
    transform: scaleX(1);
}

.hidden {
    display: none;
}

.classlogo {
    width: 100px;
    height: 100px;
    position: absolute; 
    bottom: 320px;
    left: 1130px;
    animation: logoAnimation 0.4s forwards;
}

@keyframes logoAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-200px); 
    }    
}

@keyframes coinAnimation {
    0% {
        transform: translateY(0)  rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-150px) rotate(50deg);
        opacity: 0;
    }
}

.coin {
    width: 40px;
    height: 40px;
    position: absolute; 
    background-image: url(/Img/piece.png);
    background-size: cover; 
    animation: coinAnimation 1s ease-out; }

#toggleButton{
    border: none;
    background: none;
    color: white;
    font-size: $font-large;
    font-family: $font-family;
    position: absolute;
    bottom: 270px;
    left: 340px;
}